{% extends "base.html" %}
{% block content %}

<div class="flex justify-center bg-gray-200 space-x-2">
  <h1 class="flex justify-center text-2xl">Jogo:</h1>
  <h1 class="flex justify-center text-2xl text-blue-800">{{ jogo.time_casa }} x {{ jogo.time_visitante }}</h1>
</div>

<h1 class="flex text-2xl mx-3">Informações do Jogo:</h1>
<div class="flex flex-row">
  
  <div class="border bg-gray-100 p-4 overflow-x-auto">
    <div class="min-w-full border border-gray-300 flex flex-col rounded-lg shadow">
      <div class="m-2">
        {% if jogo.arte_jogo %}
          <img class="w-36" src="{{ jogo.arte_jogo.url }}" alt="Arte do Jogo">
        {% else %}
          <p class="text-gray-500">Sem arte disponível</p>
        {% endif %}
      </div>
      <div class="flex text-2xl text-red-600 m-2">
        <h2>Time da casa:</h2>
        <p class="mx-2">{{ jogo.time_casa }}</p>
      </div>
      <div class="flex text-2xl text-red-600 m-2">
        <h2>Time visitante:</h2>
        <p class="mx-2">{{ jogo.time_visitante }}</p>
      </div>
      <div class="flex text-2xl text-red-600 m-2">
        <h2>Data:</h2>
        <p class="mx-2">{{ jogo.data_jogo }}</p>
      </div>
      <div class="flex text-2xl text-red-600 m-2">
        <h2>Hora:</h2>
        <p class="mx-2">{{ jogo.hora_jogo }}</p>
      </div>
      <div class="flex text-2xl text-red-600 m-2">
        <h2>Local:</h2>
        <p class="mx-2">{{ jogo.local }}</p>
      </div>
      <div class="flex text-2xl text-red-600 m-2">
        <h2>Placar Casa:</h2>
        <p>{{ jogo.placar_casa }}</p>
      </div>
      <div class="flex text-2xl text-red-600 m-2">
        <h2>Placar Visitante:</h2>
        <p>{{ jogo.placar_visitante }}</p>
      </div>
    </div>
  </div>

  <div class="border bg-gray-100 p-4 overflow-x-auto">
    <div class="min-w-full border border-gray-300 flex flex-col rounded-lg shadow">
      <h2 class="text-lg flex text-red-600 m-2">Presenças confirmadas</h2>
      <ul>
        {% for presenca in presencas_confirmadas %}
        <li class="flex flex-col text-blue-600 m-2">
          <strong>{{ presenca.usuario.first_name }} 
            {% if presenca.usuario.posicao %} - {{ presenca.usuario.posicao }}{% endif %}
          </strong> - Confirmado
          <ul class="text-sm text-gray-700 mt-1">
            {% for desempenho in desempenhos %}
              {% if desempenho.jogo_dia == presenca.jogo %}
              <li>
                <strong>{{ desempenho.jogador }}</strong>
                <ul>
                  <li>Gols: {{ desempenho.gols }}</li>
                  <li>Assistências: {{ desempenho.assistencias }}</li>
                  <li>Clean Sheets: {{ desempenho.clean_sheet|yesno:"Sim,Não" }}</li>
                  <li>MVP: {{ desempenho.mvp|yesno:"Sim,Não" }}</li>
                </ul>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </li>
        {% empty %}
        <li class="text-gray-500">Não há presenças confirmadas</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<div class="border bg-gray-100 p-4 overflow-x-auto mt-4">
  <h2 class="text-lg flex text-red-600 m-2">Adicionar Desempenho do Jogador</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
      Salvar Desempenho
    </button>
  </form>
</div>

{% endblock %}
