{% extends "base.html" %}
{% block content %}
<h1 class="flex justify-center text-2xl text-blue-800 ">Marcar Presença no Jogo</h1>
<p class="flex justify-center text-2xl text-blue-800 ">Jogo: {{ jogo }}</p>
<form method="post" class="flex justify-center flex-col">
    {% csrf_token %}
    <label class=" text-2xl text-blue-800 flex justify-center ">
        <input class="w-5" type="checkbox" name="confirmado" {% if presenca.confirmado %}checked{% endif %} >
        Confirmar Presença
    </label>
    <button class="bg-red-500 cursor-pointer hover:underline" type="submit">Salvar alteração</button>
</form>
{% endblock %}
