{% extends "base.html" %}
{% block content %}
<div class="flex justify-center bg-gray-200 space-x-2">
  <h1 class="flex justify-center text-2xl">Jogador:</h1>
  <h1 class="flex justify-center text-2xl text-blue-800 ">{{ object.jogador.first_name }} {{ object.jogador.last_name }}</h1>
</div>
<h1 class="flex text-2xl mx-3">Informações do atleta:</h1>
<div class="border bg-gray-100 p-4 overflow-x-auto">
  <div class="min-w-full border border-gray-300 flex flex-col rounded-lg shadow">
    {% if object.foto_perfil == '' %}
    <div class="m-2 border border-black w-20 h-28">

    </div>
    {% else %}
    <div class="m-2">
      <img class="w-20" src="{{ object.jogador.foto_perfil.url }}"></img>
    </div>
    {% endif %}
    <div class="flex text-2xl text-red-600 m-2">
      <h2>Nome:</h2>
      <p class="mx-2">{{ object.jogador.first_name }}</p>
    </div>
    <div class="flex text-2xl text-red-600 m-2">
      <h2>Sobrenome:</h2>
      <p class="mx-2">{{ object.jogador.last_name }}</p>
    </div>
    <div class="flex text-2xl text-red-600 m-2">
      <h2>Posição:</h2>
      <p class="mx-2">{{ object.jogador.get_posicao_display }}</p>
    </div>
    <div class="flex text-2xl text-red-600 m-2">
      <h2>Jogos:</h2>
      <p class="mx-2">{{ object.jogos }}</p>
    </div>
    <div class="flex text-2xl text-red-600 m-2">
      <h2>Gols:</h2>
      <p class="mx-2">{{ object.gols }}</p>
    </div>
      <div class="flex text-2xl text-red-600 m-2">
        <h2 class="">Assistencias:</h2>
        <p class="">{{ object.assistencias }}</p>
      </div>
      <div class="flex text-2xl text-red-600 m-2">
        <h2>Jogos sem tomar gol:</h2>
        <p class="mx-2">{{ object.clean_sheet }}</p>
      </div>
      <div class="flex text-2xl text-red-600 m-2">
        <h2>MVP:</h2>
        <p class="mx-2">{{ object.mvp }}</p>
      </div>
    
  </div>
</div>

{% endblock  %}