{% extends "base.html" %}
{% block content %}
<div class="flex justify-center bg-gray-200 space-x-2">
  <h1 class="flex justify-center text-2xl">Jogador:</h1>
  <h1 class="flex justify-center text-2xl text-blue-800 ">{{ object.first_name }} {{ object.last_name }}</h1>
</div>
<h1 class="flex text-2xl mx-3">Informações do atleta:</h1>
<div class="border bg-gray-100 p-4 overflow-x-auto">
  <div class="min-w-full border border-gray-300 flex flex-col rounded-lg shadow">
    <div class="flex text-2xl text-red-600 m-2">
      <h2>Nome:</h2>
      <p class="mx-2">{{ object.first_name }}</p>
    </div>
    <div class="flex text-2xl text-red-600 m-2">
      <h2>Sobrenome:</h2>
      <p class="mx-2">{{ object.last_name }}</p>
    </div>
    <div class="flex text-2xl text-red-600 m-2">
      <h2>Email:</h2>
      <p class="mx-2">{{ object.email }}</p>
    </div>
    <div class="flex text-2xl text-red-600 m-2">
      <h2>Posição:</h2>
      <p class="mx-2">{{ object.get_posicao_display }}</p>
    </div>
    <div class="text-2xl text-blue-600 m-2">
      <h2 class="">Palavras pessoais:</h2>
      <p class="">{{ object.descricao }}</p>
    </div>
  </div>
</div>

{% endblock  %}